body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #222;
  color: white;
  margin: 30px;
}
h1 {
  color: #2a8af7;
  font-size: 80px;
}
.normal {
  color: white;
}
.important {
  color: #2a6ef7;
}
img {
  width: 400px;
}
a {
  color: white;
}
a:hover {
  color: #457ff5;
}
.about {
  background-color: #333;
  padding: 20px;
  width: 480px;
}
